<% include ../partials/header %>
<% include ../partials/menu %>
	<div class="container">
		<br>
		<div class="row">
			<div class="col-4">
				<div class="card">
				<!-- TODO: Modify the ejs code below, to conditionally set the image_src to be from our chosen player -->
				  <%

					var src;
					//If no player is selected, just display the default helmet image
				 	if(!selected_player)
					{
						src = '../resources/img/helmet.jpg';
				 	}
					else //Choose the image that is associated with the player
					{
						src = selected_player.img_src;
				 	}

				  %>

				 <img class="card-img-top" id="player_img" src= "<%- src %>" alt="Image of Football Player">
				  <div class="card-body mx-auto">
					<form class="form"action="/player_info/post" method="get">
						<select class="custom-select" name="player_choice" onchange="this.form.submit()">
							 <option selected>Select Player</option>

							 <!-- This code populates the option menu with the names from our football list. If we select the option, it makes sure to change it and its ID -->
						   <% for(var i = 0; i < players.length; i++)
							 { %>
							 <%
									var select = '';
                  if(selected_player && selected_player.id == players[i].id)
									{
										select = 'selected'
									}
 								%>
								<option <%= select %> value="<%= players[i].id%>"><%= players[i].name %></option>
						    <% } %>

							 <!-- TODO: Populate our select with player options
							 			For each player, set a new option with a value matching the palyer's id,
							 			but will display the player's name-->
						</select>
					</form>
				  </div>
				</div>
			</div>
			<div class="col-8">
				<div class="table-responsive">
					<%
					//Set all the variables to nothing. Have to do this so they can be intialized to N/A right away.
					var year = '';
					var major = '';
					var games_played = '';
					var passing_yards = '';
					var avg_passing_yards = '';
					var rushing_yards = '';
					var avg_rushing_yards = '';
					var receiving_yards = '';
					var avg_receiving_yards = '';

					//If the player is actually selected and not just the select player option, populate the variables with the given information.
					if(selected_player)
					{
						year = selected_player.year;
						major = selected_player.major;
						games_played = selected_player.games_played;
						passing_yards = selected_player.passing_yards;
						avg_passing_yards = (selected_player.passing_yards/selected_player.games_played).toFixed(0);
						rushing_yards = selected_player.rushing_yards;
						avg_rushing_yards = (selected_player.rushing_yards/selected_player.games_played).toFixed(0);
						receiving_yards = selected_player.receiving_yards;
						avg_receiving_yards = (selected_player.receiving_yards/selected_player.games_played).toFixed(0);
					}
					%>
					<!-- This part is telling the table that if the variable is populated and has something from a player to populate the table, otherwise to set the table to nothing.
					Breaks if the variable is set to null and tries to display it. So thats why theres the option to choose one or the other. -->
					<table class="table">
						<tr>
							<th>Year</th>
							<td><%= year || 'HELLLLO' %></td>
						</tr>
						<tr>
							<th>Major</th>
							<td><%= major || 'N/A' %></td>
						</tr>
						<tr>
							<th>Games Played</th>
							<td><%= games_played || 'N/A' %></td>
						</tr>
						<tr>
							<td>Passing Yards: <%= passing_yards || 'N/A' %></td>
							<td>Avg. Passing Yards: <%= avg_passing_yards || 'N/A' %></td>
						</tr>
						<tr>
							<td>Rushing Yards: <%= rushing_yards || 'N/A' %></td>
							<td>Avg. Rushing Yards: <%= avg_rushing_yards || 'N/A' %></td>
						</tr>
						<tr>
							<td>Receiving Yards: <%= receiving_yards || 'N/A' %></td>
							<td>Avg. Receiving Yards: <%= avg_receiving_yards || 'N/A' %></td>
						</tr>

					</table>
				</div>
			</div>
		</div>
	</div>

<% include ../partials/footer %>
